<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	 <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</head>
<style>
	.head{
		background: #44D9E6;
	}
	.list{
		font-size: 30px;
		margin-top: 40px;

	}
	.tag{
		font-family: fantasy;
		font-size: 20px;
		color: red;
	}
	
</style>
<body>
<div class="container-fluid head">
	<div class="row">
		<div class="col-sm-6">
			<center>
				<img src="static/gg.png" class="img-responsive" height="200" width="200">
			</center>
		</div>
		<div class="col-sm-6">
			<center>
				<ul class="list">
					<b><li>Home</li>
					<li>About</li>
					<li>contact</li></b>
				</ul>
			</center>
		</div>
	</div>
</div>